<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="about">
    <%- include('partials/header') %>
    <main>
        <div class="box">
          <div class="inner-box">
            <div class="forms-wrap">
              <div id="logo-texto" class="integrantes">
                <div class="heading">
                  <h2>Sobre Nosotros</h2>
                </div>
  
                <div class="actual-form">
                  <p><span>Give One </span>es un Ecommerce dedicado a la venta de Vajillas, Cristalería ,Cubiertos ,Cafe y Tè  a través de la venta online.</p>
                  <p> <br>Quisimos hacer un sitio sitio web moderno, donde se puedan encontrar animaciones, ya sean transiciones sutiles o mucho mas elaboradas,
                    con el fin de que la experiencia del usuario al navegar, sea mucho más interactiva y dinámica.</p>
                </div>
                <a href="#" class="toggle">Integrantes</a>
              </div>
  
              <!--marcasss-->
  
              <div id="logo-texto" class="info">
                <div class="heading">
                  <h2>Integrantes</h2>
                </div>
  
                <div class="actual-form">
                  <p class="nombre">Gabriel Calla, 29 años.</p>
                  <p class="github"><i class="fab fa-github"></i>GabrielC92</p>
                  <p class="nombre">Carolina Vega, 24 años.</p>
                  <p class="github-2"><i class="fab fa-github"></i>Carolina-Vega-fs</p>
                  <p class="linkedin"><i class="fab fa-linkedin"></i></i>carolina-vega-fs</p>
                    
                </div>
                <a href="#" class="toggle">Sobre Nosotros</a>
              </div>
  
              
            </div>
  
            <div class="carousel">
              <div class="images-wrapper">
                <img src="/images/ABOUT.jpg" alt="">
              </div>
  
            </div>
          </div>
        </div>
      </main>
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
   <script>
      const toggle_btn = document.querySelectorAll(".toggle");
      const main = document.querySelector("main");



      toggle_btn.forEach((boton) => {
    boton.addEventListener("click", () => {
    main.classList.toggle("next-mode");
  });
});
   </script>
</body>
</html>