<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body class="pago">
   
    <%- include('partials/header') %>

  <main data-aos="fade-right">

        <div class="con1-cont2">
            <div class="contenido1">
                <section>
                    <ul id="progressbar">
                        <li class="cart"><a href="/cart">Carrito(3)</a></li>
                        <li class="pago"><a href="/formasDePago">Metodo de Pago</a></li>
                        <li class="finalizar"><a href="/compra">Finalizar</a></li>
                    </ul>
                    <div class="con1-cont2">
                        <div class="contenedor">
                            <input type="radio" name="medio" value="Débito">
                            <i class="fas fa-credit-card"></i>
                            <span>Tarjeta de crèdito
                            </span>
                        </div>

                        <div class="contenedor">
                            <input type="radio" name="medio" value="Débito">
                            <i class="fas fa-credit-card"></i>
                            <span>Tarjeta de débito</span>

                        </div>
                        <p class="forma-pago">Con otras Formas de Pago</p>
                        <div class="contenedor">
                            <input class="" type="radio" name="medio" value="Efectivo">
                            <i class="fas fa-money-bill"></i>
                            <span>Efectivo en puntos de Pago</span>
                        </div>
                </section>
            </div> <!-- END: .contenido1 -->

            <div class="contenido2">
                <section class="resumen">

                    <p class="compra">Resumen de compra</p>

                    <div class="op1">
                        <p>Producto(3)</p>
                        <p>$600</p>
                    </div>
                    <div class="op2">
                        <p>Envio</p>
                        <p class="precio2">$100</p>
                    </div>

                </section>

                <section>
                    <div class="op3">
                        <p class="pagas">Pagás</p>
                        <p class="precio3">$700</p>
                    </div>
                </section>

                <div class="boton">
                    <a href="/compra"><button type="button">CONTINUAR</button></a>
                </div>

            </div> <!-- END: .contenid2 -->
    </main>

    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
</body>

</html>