 .carrito{
     background-color: #f1f1f1;
 }
 
 
 .carrito section{
    margin-top: 10px;
}
 
.carrito #progressbar {		
    overflow: hidden;
    counter-reset: step;
    padding: 0;
    text-align: center;
    margin-top: 10px;
    
}

.carrito #progressbar .cart a{
color:#c9b391;

}
.carrito a{
    text-decoration: none;
}

.carrito #progressbar .finalizar a, .pagos a {
    color: black;
}



.carrito #progressbar li {
list-style-type: none;
text-transform: uppercase;
font-size: 9px;
width: 33.33%;
float: left;
position: relative;
margin-top: 90px;
}

.carrito #progressbar li:before {
content: counter(step);
counter-increment: step;
width: 20px;
line-height: 20px;
display: block;
font-size: 10px;
color: white;
background: #1F1D1D;;
border-radius: 3px;
margin: 0 auto 5px auto;
}
/*progressbar conectores*/
.carrito #progressbar li:after {
content: '';
width: 100%;
height: 2px;
background: white;
position: absolute;
left: -50%;
top: 9px;
z-index: -1; 
}
.carrito #progressbar li:first-child:after {
content: none; 
}


 

 

.carrito main section article{
    display: flex;
      
}

.carrito .img-detail img{
     width: 100px;
    height: 100px;
    margin-top: 12px; 
}

.carrito .img-cantidad{
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2); 
    border-radius: 5px;  
}

.carrito .img-detail{
    padding-left: 20px;
    display: flex;
    
}



.carrito .cantidad{
    display: flex;
    justify-content: space-around;
    position: relative;
    
}


.carrito .cantidad form{
    display: flex;
    border-radius: 5px;
}


.carrito .cantidad .menos , .mas{
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.carrito .cantidad .mas{
    padding-right: 5px;
    padding-left: 5px;
    border: solid 1px #e7e5e5;
}

.carrito .cantidad .mas:hover{
    background-color: #c9b391;
    color: white;
    transition: 1s;
}

.carrito .cantidad .menos:hover{
    background-color: #c9b391;
    color: white;
    transition: 1s;
}




.carrito .cantidad .menos{
    padding-right: 6px;
    padding-left: 6px;
    border: solid 1px #e7e5e5;
}



.carrito  .articulo1{
  margin-bottom: 10px;
    display: flex;
    justify-content: center;

    
}


.carrito .boton-delet{
    border-top: solid 1px #e7e5e5;
    margin-top: 10px; 
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2); 
    background-color: #1F1D1D;
}    


.carrito .boton-delet form button{
    background-color: transparent;
    color: white;
}



.carrito .boton-delet button{
    border: none;
    background-color:white;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.carrito main section .articulo1 input{
    border: none;
    width: 10px;
    margin-left: 5px;
    margin-right: 5px;
}




.carrito main section article .delet{
    position: relative;
    top: 140px;
    right: 360px;
}


.carrito .descripcion{
    margin-left: 18px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;    
}


.carrito .envio1{
    margin-top: 30px;
    padding-bottom: 10px;
    justify-content: space-evenly;
    display: flex;
    border-bottom: solid 1px #cac8c8;
    
    
}

.carrito .total-envio{
    margin-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
    display: flex;
    margin-left: 30px;

}

.carrito .boton1{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.carrito .boton1 a{
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Roboto';

}

.carrito .boton1 button{
    color: #ffffff;
    background-color: #333;
    padding: 12px 25px;
    font-size: 15px;
    letter-spacing: 1px;
   font-family: 'Roboto';
    border: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    transition: all .2s; }

 

.carrito .precio3{
    position: relative;
    left: -40px;
    font-weight: bold;
}

.carrito .envio-cp{
    color: #c9b391;
}

  .carrito .img-cantidad {
    margin-left: 15px;
    margin-right: 15px;
    width: 60%;

}


/* Media quierys*/

@media (min-width: 426px){
    .carrito .img-cantidad {
        margin-left: 15px;
        margin-right: 15px;
        width: 60%;
    
}

.carrito .cupon h5{
    font-size: 10px;
    margin-top: 40px;
}

.carrito .cupon{
float: right;
width: 33%;
height: 280px;
position: relative;
top: -360px;
left: -12px;
margin-right: 12px;

}

.carrito .cupon input{
    margin-top: 40px
}



.carrito .cupon .titulo{
    font-weight: bold;
    color: #1F1D1D;
    font-family: 'Roboto';
    margin-top: 60px;
}
}

@media (min-width: 768px){


    .carrito .cupon .titulo{
    font-size: 16px;
    font-weight: bold;
    color: #1F1D1D;
    margin-top: 30px;
    font-family: 'Roboto';
    }

}


 
