/* login y admin */
.registro .log .box-pass{
    position: relative;
}
.registro .log .box-pass .button-pass{
    position: absolute;
    top: 20px;
    right: 5px;
    background-color: transparent;
    border-color: transparent;
}
.registro .log .check{
    display: flex;
    align-items: baseline;
    margin: 10px 0;
}
.registro .log .sesion{
    width: 25px;
}
.registro .log a.password{
    text-decoration: underline;
    color: #000;
    text-align: center;
}
.registro .log a.password:hover{
    color: #24cf5f;
}
.registro .log .buttons, .buttons{
    display: flex;
    justify-content: space-evenly;
}
.registro .log .buttons .registrar-btn, .buttons .registrar-btn{
    text-decoration: none;
    color: #fff;
}

/* admin */
textarea{
    resize: none;
}

/* profile */
.box-img-user{
    text-align: center;
}
.img-user{
    width: 40%;
}

@media (min-width: 769px) {
    /* profile */
    .box-img-user{
        display: none;
    }
}